services:
  vpn:
    image: ghcr.io/haugene/docker-openvpn-client
    container_name: vpn
    cap_add: [NET_ADMIN]
    devices: [/dev/net/tun]
    ports:
      - "${CLIENT_PORT:-6881}:${CLIENT_PORT:-6881}/tcp"
      - "${CLIENT_PORT:-6881}:${CLIENT_PORT:-6881}/udp"
    volumes:
      - ./compose/openvpn/vpn-config:/config
    environment:
      - OPENVPN_CONFIG=superseedr.ovpn
      - OPENVPN_AUTH_FILE=auth.txt
    restart: unless-stopped

  superseedr:
    extends:
      file: ../../docker-compose.common.yml
      service: superseedr
    network_mode: "service:vpn"
    depends_on: [vpn]

volumes:
  superseedr-data:
  superseedr-config:
  superseedr-share:
