services:
  wireguard:
    image: ghcr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add: [NET_ADMIN]
    # Note: WireGuard usually uses a single UDP port for its tunnel
    # The CLIENT_PORTs are for your app, which will be routed through the tunnel.
    ports:
      - "${CLIENT_PORT:-6881}:${CLIENT_PORT:-6881}/tcp"
      - "${CLIENT_PORT:-6881}:${CLIENT_PORT:-6881}/udp"
    volumes:
      - ./compose/wireguard/wireguard-config:/config
      - /lib/modules:/lib/modules # Needed for the kernel module
    environment:
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    # sysctls is also required for WireGuard
    sysctls:
      net.ipv4.conf.all.src_valid_mark: 1
      net.ipv6.conf.all.disable_ipv6: 0 

  superseedr:
    extends:
      file: ../../docker-compose.common.yml
      service: superseedr
    network_mode: "service:wireguard"
    depends_on: [wireguard]

volumes:
  superseedr-data:
  superseedr-config:
  superseedr-share:
